
# Build output:
build/
build-*/
out/
Debug/
cmake-build-*/

# Binaries:
*.a
*.o
*.dll
*.lib
*.exe
*.out

# Blender Python packages:
addons/bpy/
addons/bpy_extras/
addons/io_scene_gltf2/

# Temporaries:
*.swp
__pycache__/

# PyCharm:
.idea/
*.iml
venv/
